.header {
    /* Ensure header spans the full width of its container, up to 1440px */
    width: 100%;
    /* Limit max width be 1400px, even the viewport is wider */
    max-width: 1440px;
    height: 125px;
    /* Box model: margin -> border -> padding -> content  */
    /* Top and bottom margin set to 0, left and right margin set to auto for centering */
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    /* Align items is for the header as a flex container */
    align-items: center;
    /* Justify content distributes space between and around content items */
    justify-content: space-between;
    background-color: #fff;
    /* Border-box: Width/height includes content, padding, AND border */
    /* Content-box: Width/height only includes the content */
    box-sizing: border-box; 
}

.logo {
    height: auto;
    max-height: 60px;
    width: auto;
}

/* Responsive adjustments */
@media (max-width: 1440px) {
    .header {
        padding: 0 40px;
        /* Space between flex items */
        gap: 40px;
    }
}