.header {
    width: 100%;
    max-width: 1440px;
    height: 125px;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px; /* Space between logo and nav */
    background-color: #fff;
    box-sizing: border-box; /* Content-box, width and height include only the content, padding and border are excluded */
}

.logo {
    height: auto;
    max-height: 60px;
    width: auto;
    flex-shrink: 0;
}

@media (max-width: 1440px) {
    .header {
        padding: 0 40px;
        gap: 40px;
    }
}